{% extends 'base.html' %}
{% block content %}


    <h1>PokeDex</h1>

    <form method="POST" class="container col-4">
        {{ form.hidden_tag() }}

        {{ form.pokemon(class='form-control', placeholder='Pokemon name or number') }}
        {{ form.submit(class='btn btn-primary') }}
    </form>

<!-- use pk(pokemon dict) like the my_text (pk[name], pk{atk}, ect) to print out results of form submission -->

    <!-- if statement here that populates pokemon and stats -->
    <!-- connect results of api stats and post to db -->
    <!-- maybe rework feed code to update 5 bootstrap cards for the pokemon in the team from db -->

    {% if request.method == 'POST' %}
            <img src="{{ pk['Front Shiny'] }}">
            <p>Pokemon Name: {{ pk["Name"].title() }}</p> 
            <p>HP: {{ pk["Base HP"] }}</p>
            <p>ATK: {{ pk["Base ATK"] }}</p>
            <p>DEF: {{ pk["Base DEF"] }}</p>
            <br>
            <p>Ability: {{ pk["Ability"].title() }}</p>
    {% endif %}

    {% endblock %}